{
    "env": {
        "node": true,
        "es6": true,
        "jest/globals": true,
        "commonjs": true
    },
    "globals": { "BufferEncoding": true, "NodeJS": true },
    "ignorePatterns": ["lib", "docs"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "plugins": ["jest"],
    "rules": {
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "error",
        "no-unreachable": "warn",
        "constructor-super": "error",
        "valid-typeof": "warn",
        "no-extra-semi": "error",
        "semi": "error",
        "default-case": "error",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "args": "after-used"
            }
        ],

        "@typescript-eslint/explicit-function-return-type": [
            "error",
            {
                "allowTypedFunctionExpressions": true
            }
        ],
        "@typescript-eslint/no-explicit-any": [
            "error",
            { "ignoreRestArgs": true }
        ],
        "@typescript-eslint/explicit-member-accessibility": [
            "warn",
            {
                "accessibility": "explicit",
                "overrides": {
                    "accessors": "explicit",
                    "constructors": "no-public",
                    "methods": "explicit",
                    "properties": "explicit",
                    "parameterProperties": "explicit"
                }
            }
        ],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
    }
}
