{
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
    "parserOptions": {
        "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
        "sourceType": "module" // Allows for the use of imports
    },
    "extends": [
        "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "error",
        "no-unreachable": "warn",
        "constructor-super": "error",
        "valid-typeof": "warn",
        "no-extra-semi": "error",
        "semi": "error",
        "default-case": "error",
        "plugins": ["jest"],
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "args": "after-used"
            }
        ],
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-empty-function": "warn",
        "@typescript-eslint/explicit-function-return-type": [
            "error",
            {
                "allowTypedFunctionExpressions": true
            }
        ],
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-explicit-any": "off"
    }
}
